.waves {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.waves .waves-animation {
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.7s ease-out;
    transition-property: transform, opacity;
    transform: scale(0);
    pointer-events: none
}