@import '../index.scss';


&.#{$icon-prefix-cls} {
    &-search {
        position: relative;
        &:before {
            content: ' '; 
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%;
            height: 100%;
            border: 1px solid #EEE; 
            border-radius: 30px; 
            box-shadow: inset 1px 1px 10px rgba(0,0,0,.3); 
        }

        &:after {
            content: ' '; 
            position: absolute; 
            right: -55%; 
            bottom: -25%; 
            width: 18px; 
            height: 5px; 
            background: #888; 
            border-radius: 5px 0 0 5px; 
            transform: rotate(225deg); 
        }
    }
}