@import '../index.scss';


&.#{$icon-prefix-cls} {
    &-live {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 10%;
        background: linear-gradient(to right, #FF8A65, #D32F2F);
        border-radius: 50%;
        box-sizing: border-box;

        &.live4>div {
            width: 10%;
            height: 50%;
            border-radius: 30%;
            background: #FFF;
            transform-origin: bottom;

            &:nth-child(1),
            &:nth-child(3) {
                animation: stl .8s ease-in-out infinite;
            }

            &:nth-child(2),
            &:nth-child(4) {
                animation: lts .8s ease-in-out infinite;
                animation-delay: .8s;
            }
        }

        &.live3 {
            padding: 0 20%;

            div {
                width: 15%;
                height: 50%;
                border-radius: 30%;
                background: #FFF;
                transform-origin: bottom;

                &:nth-child(1),
                &:nth-child(3) {
                    animation: stl .8s ease-in-out infinite;
                }

                &:nth-child(2) {
                    animation: lts .8s ease-in-out infinite;
                    animation-delay: .8s;
                }
            }
        }

        // 从短变长
        @keyframes stl {
            from {
                transform: scaleY(0.6);
            }

            50% {
                transform: scaleY(1);
            }

            to {
                transform: scaleY(0.6);
            }
        }

        // 从长变短
        @keyframes lts {
            from {
                transform: scaleY(1);
            }

            50% {
                transform: scaleY(0.6);
            }

            to {
                transform: scaleY(1);
            }
        }
    }
}